<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--style.css-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="index.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--=====Font awesome cdn link=======--->
    <script src="https://use.fontawesome.com/3b6635a874.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"/>
    <title>Category4</title>
  </head>
  <body id="top">
    <!-- =================================== Header menu section starts =================================== ---->
     <section  class="header_menu" id="header_menu">
     <div class="container-fluid px-0 shadow" >
       <nav class="navbar navbar-expand-lg navbar-light bg-light py-3" style="background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);">
         <a class="navbar-brand pl-5 pl-small-0" href="index.html">
           <img src="images/logo.png" class="img img-fluid"style="float:left; width:80px;height:50px" alt="logo">
         </a>
         <button class="navbar-toggler" type="button"   data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="  
            #navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                 <strong><a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a></strong>
               </li>
               <li class="nav-item">
                  <strong><a class="nav-link" href="/product">Product</a></strong>
               </li>
               <li class="nav-item">
                 <strong> <a class="nav-link" href="/category">Category</a></strong>
               </li>
               <li class="nav-item">
                 <strong> <a class="nav-link" href="/about">About Us</a></strong>
               </li>
               <li class="nav-item">
                 <strong><a class="nav-link" href="/contact">Contact Us</a></strong>
               </li>
             </ul>
             <div class="search mr-3">
                <a href="/search" class="btn btn-sm btn-outline-primary">Search</a>
             </div>
             <div class="cart">
        <a href="/cart">
          <i class="fa fa-shopping-cart" aria-hidden="true" ></i>
          <span class="badge badge-pill badge-primary"></span>
        </a>
        </div>
         </div>&nbsp;&nbsp;
             <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" ><i class="fas fa-user"> </i>
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  <li><a href="#">Name</a></li>
                  <li><a href="/home">Logout</a></li>  
               </ul>&nbsp;&nbsp;
              </li>
             </ul>
           </div> 
   
        </nav>
       </div>
     </section>
   <!-- ===================================header menu section ends here=========================================== -->
   <!-- ===================================product section ends here=========================================== -->
      <section class="products py-5 my-5" id="products">
        <div class="container ">
          <div class="section_title text-center mb-5">
            <p class="text-capitalize" style="font-family:serif;font-size: 40px;">Category 4</p>
          </div>
          <div class="row">
            <div class="col-md-3 border-right mb-small-5">
              <h4 class="mb-5 border-bottom">Filters</h4>
              <div class="mb-5">
                <label><b>Category</b></label>
                <ul class="list-group">
                  <li class="list-group-item"><a href="category1">Category 1</a></li>
                  <li class="list-group-item"><a href="category2">Category 2</a></li>
                  <li class="list-group-item"><a href="category3">Category 3</a></li>
                  <li class="list-group-item"><a href="category4">Category 4</a></li>
                  <li class="list-group-item"><a href="category5">Category 5</a></li>
                  <li class="list-group-item"><a href="category6">Category 6</a></li>
                </ul>
              </div>
           </div>
           <div class="col-md-3 col-12" >
                  <div class="single_product shadow text-center p-1" style="height:248px">
                    <div class="product_img">
                      <a href="/product_details7">
                        <img src="/images/kids1.jpg" width="95px" height="100px" class="img img-fluid" alt="">
                      </a>
                   </div>
                    <div class="product-caption my-3">
                    <div class="product-ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                   </div>
                    <h5><a href="/product_details7"> Frock </a></h5>
                    <div class="price">
                      <b><span class="mr-1">₹</span><span>2500</span></b>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-3 col-12" >
                  <div class="single_product shadow text-center p-1"style="height:248px">
                    <div class="product_img">
                      <a href="/product_details8">
                        <img src="/images/kids2.jpg" width="180px" height="200px" class="img img-fluid" alt="">
                      </a>
                   </div>
                    <div class="product-caption my-3">
                    <div class="product-ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                   </div>
                    <h5><a href="/product_details8"> Top </a></h5>
                    <div class="price">
                      <b><span class="mr-1">₹</span><span>899</span></b>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-3 col-12" >
                  <div class="single_product shadow text-center p-1" style="height:248px">
                    <div class="product_img">
                      <a href="/product_details9">
                        <img src="/images/kids3.jpg" width="140px" height="100px" class="img img-fluid" alt="">
                      </a>
                   </div>
                    <div class="product-caption my-3">
                    <div class="product-ratting">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                   </div>
                    <h5><a href="/product_details9"> Modren Frock </a></h5>
                    <div class="price">
                      <b><span class="mr-1">₹</span><span>1400</span></b>
                   </div>
                 </div>
               </div>
             </div>
        </div>
      </div>
    </section>
<!-- ==========================================product ends here================================================== -->
<!-- ==========================================footer starts here================================================= -->
  <section class="footer_section pt-5 pb-2" id="footer_section" >
       <footer>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 col-6 pl-5 pl-small-15">
               <div class="footer_title" style="padding-left:135px">
                 <a href="/"><img src="/images/logo.png" width="100px"  class="img img-fluid" alt="logo"></a>
               </div>
               <div>
                 E-Shopping is an Indian multinational clothing, footwear and home products retailer, headquarters in Hyderabad, AP. It has around 200 stores, across Asia.It is the largest clothing retailer by sales in India.It is a one stop shop for all your fashion and lifestyle needs.Being India's largest e-commerce store for fashion and lifestyle products.
               </p>
               </div>
              </div>
              <div class="col-md-4 col-6" style="padding-left:175px">
                <div class="footer_title pt-3 mb-3" >
                  <p style="font-family:serif;font-size: 30px;">Quick Links</p>
                </div>
                <div class="footer_links">
                  <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="#top">Offers & Discounts</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="#products">Products</a></li>
                    <li><a href="#category">Category</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 col-6" style="padding-left:145px">
                <div class="footer_title pt-3 mb-3">
                  <p style="font-family:serif;font-size: 30px;">New Products</p>
                </div>
                <div class="footer_links">
                  <ul>
                    <li><a href="/category1">Woman Cloth</a></li>
                    <li><a href="/category5">Fashion Accessories</a></li>
                    <li><a href="/category2">Man Accessories</a></li>
                    <li><a href="/category6">Electronics</a></li>
                     <li><a href="/category4">kids wear</a></li>
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
          <div class="border-top">
            <br>
            <h6 class="text-center mt-3">Copyright ©2021 All rights reserved</h6>
          </div>
          <div class="backtop">
            <a id="button" href="#top" class="btn btn-lg btn-primary" role="button">
             <i class="fas fa-chevron-up text-dark"></i>
            </a>
          </div>
       </footer>
     </section>

    <!-- ==========================================footer ends here=========================================== -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>

