<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!--style.css -->
  <link rel="stylesheet" href="/stylesheets/contact.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- fontawesome cdn For Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"/>


    <script src="https://use.fontawesome.com/20ab91acc4.js"></script>

  <title>Contact E-shopping</title>
  
</head>
<body id="top">
  <!--================header menu section starts here================ -->
   <section  class="header_menu" id="header_menu">
     <div class="container-fluid px-0 shadow" >
       <nav class="navbar navbar-expand-lg navbar-light bg-light py-3" style="background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);">
         <a class="navbar-brand pl-5 pl-small-0" href="index.html">
           <img src="images/logo.png" class="img img-fluid"style="float:left; width:80px;height:50px" alt="logo">
         </a>
         <button class="navbar-toggler" type="button"   data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="  
            #navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                 <strong><a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a></strong>
               </li>
               <li class="nav-item">
                  <strong><a class="nav-link" href="/product">Product</a></strong>
               </li>
               <li class="nav-item">
                 <strong> <a class="nav-link" href="/category">Category</a></strong>
               </li>
               <li class="nav-item">
                 <strong> <a class="nav-link" href="/about">About Us</a></strong>
               </li>
               <li class="nav-item">
                 <strong><a class="nav-link" href="/contact">Contact Us</a></strong>
               </li>
             </ul>
             <div class="search mr-3">
                <a href="/search" class="btn btn-sm btn-outline-primary">Search</a>
             </div>
             <div class="cart">
        <a href="/cart">
          <i class="fa fa-shopping-cart" aria-hidden="true" ></i>
          <span class="badge badge-pill badge-primary"></span>
        </a>
        </div>
         </div>&nbsp;&nbsp;
             <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" ><i class="fas fa-user"> </i>
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  <li><a href="#">Name</a></li>
                  <li><a href="/home">Logout</a></li>  
               </ul>&nbsp;&nbsp;
              </li>
             </ul>
           </div> 
   
        </nav>
       </div>
     </section>
<!-- ==============header menu section ends here============== -->

<!-- ==============contact starts here============== -->
<section class="contact py-5 my-5" id="contact">
<div class="container ">
<div class="section_title text-center mb-5">
<p class="text-capitalize" style="font-family:serif;font-size: 40px;">Contact Us</p>
</div>
<div class="row mb-5">
<div class="col-md-4 col-12">
<div class="border border-success rounded shadow text-center p-3">
<div class="mb-4">
<i class="fas fa-phone-alt fa-3x"></i>
</div>
<div>
<h3>Let's Talk</h3>
<a href="tel: +91-9848586877" title="Give me a call"><p><b>Phone:</b> +91-9848586877</p></a>
</div>
</div>
</div>
<div class="col-md-4 col-12">
<div class="border border-success rounded shadow text-center p-3">
<div class="mb-4">
<i class="fas fa-envelope-open fa-3x"></i>
</div>
<div>
<h3>Drop a Line</h3>
<a href="#"><p><b>Email:</b> contact@walmart.com</p></a>
</div>
</div>
</div>
<div class="col-md-4 col-12">
<div class="border border-success rounded shadow text-center p-3">
<div class="mb-4">
<i class="far fa-life-ring fa-3x"></i>
</div>
<div>
<h3>24x7 Support</h3>
<a href="tel: 1800 201 304" title="Give me a call"><p><b>Customer:</b> 1800 201 304</p></a>
</div>
</div>
</div>
<h1 class="section-header">Contact</h1>
  <div class="contact-wrapper">
  
  <!-- Left contact page --> 
    
    <form id="contact-form" class="form-horizontal" role="form">
       
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required >
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
        </div>
      </div>

      <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>
      
      <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
        <div class="alt-send-button">
          <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
        </div>
      
      </button>
      
    </form>
    
  <!-- Left contact page --> 
    
      <div class="direct-contact-container">

        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Surampalem, AndhraPradesh</span></i></li>
          
          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"> +91-9848586877<a href="tel: +91-9848586877" title="Give me a call"></a></span></i></li>
          
          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">@gmail.com</a></span></i></li>
          
        </ul>

        <hr>
        <ul class="social-media-list">
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-skype" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>       
        </ul>
        <hr>

        <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

      </div>
    
  </div>
  </div>
</section>  
  
  
  

</section>
<!-- ==============contact ends here============== -->

<!-- ==============footer starts here============== -->
<section class="footer_section pt-5 pb-2" id="footer_section" >
       <footer>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 col-6 pl-5 pl-small-15">
               <div class="footer_title" style="padding-left:135px">
                 <a href="/"><img src="/images/logo.png" width="100px"  class="img img-fluid" alt="logo"></a>
               </div>
               <div>
                 E-Shopping is an Indian multinational clothing, footwear and home products retailer, headquarters in Hyderabad, AP. It has around 200 stores, across Asia.It is the largest clothing retailer by sales in India.It is a one stop shop for all your fashion and lifestyle needs.Being India's largest e-commerce store for fashion and lifestyle products.
               </p>
               </div>
              </div>
              <div class="col-md-4 col-6" style="padding-left:175px">
                <div class="footer_title pt-3 mb-3" >
                  <p style="font-family:serif;font-size: 30px;">Quick Links</p>
                </div>
                <div class="footer_links">
                  <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="#top">Offers & Discounts</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="#products">Products</a></li>
                    <li><a href="#category">Category</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 col-6" style="padding-left:145px">
                <div class="footer_title pt-3 mb-3">
                  <p style="font-family:serif;font-size: 30px;">New Products</p>
                </div>
                <div class="footer_links">
                  <ul>
                    <li><a href="/category1">Woman Cloth</a></li>
                    <li><a href="/category5">Fashion Accessories</a></li>
                    <li><a href="/category2">Man Accessories</a></li>
                    <li><a href="/category6">Electronics</a></li>
                     <li><a href="/category4">kids wear</a></li>
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
          <div class="border-top">
            <br>
            <h6 class="text-center mt-3">Copyright ©2021 All rights reserved</h6>
          </div>
          <div class="backtop">
            <a id="button" href="#top" class="btn btn-lg btn-primary" role="button">
             <i class="fas fa-chevron-up text-dark"></i>
            </a>
          </div>
       </footer>
     </section>
<!-- ==============footer ends here============== -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
  
  document.querySelector('#contact-form').addEventListener('submit', (e) => {
    e.preventDefault();
    e.target.elements.name.value = '';
    e.target.elements.email.value = '';
    e.target.elements.message.value = '';
  });
</script>

  </body>
</html>

